.container{
    width: 430px;
    height: 575px;
    margin: 2rem auto;
    background: linear-gradient( rgba(35,43,85,0.75), rgba(35,43,85,0.95));
    border-radius: 10px;
    padding-top: 20px;
    overflow: hidden;

    @media screen and (max-width:375px) {
        width: 300px
        
    }
}

.links{
    list-style: none;
    padding-left: 0;
    margin: 0 0 1rem 1.2rem;
    display: flex;
    justify-content:space-between;
    width: 50%;
    padding: 1rem;
    font-size: 1.3rem;
    text-transform: capitalize;
    &__item{
        color: rgba(#fff, .3);
        cursor: pointer;
        
        &--active{
            color: #fff;
            border-bottom: 2px solid #fff;
            padding-bottom: .4rem;
        }
    }

    @media screen and (max-width:375px) {
        width: 80%;
        
    }
}

.forms{
    display: flex;
    width: 860px;
    justify-content: center;
    position: relative;
    left: 0;
    transition: left .5s;
    opacity: 1;

    &--move{
        left: -100%;
        animation: fadeIn 1s;
    }

    @keyframes fadeIn {
        from{
            opacity: .5;
        }
        to{
            opacity: 1;
        }
    }

    @media screen and (max-width:375px){
        width: 600px
        
    }
}

.form{
    width: 430px;
    padding: 0 2rem;
    flex: 1 1 auto;

    &__field{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;

        &--check{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__label{
        font-size: 12px;
        padding-left: .5rem;
        padding-bottom: .5rem;
        color: rgba(#fff, .3);
        text-transform: uppercase;
    }
    
    &__input{
        background-color: rgba(#fff, .2);
        border:none;
        height: 35px;
        border-radius: 20px;
        padding-left: 1rem;
        color: rgba(#fff, .5);
        transition: background-color .3s;
        
        &:focus{
            background-color: rgba(#fff, .8);
            color: rgba(#444, .8);

        }
    }

    &__check{
        &-label{
            position: relative;
            transform: translateX(60px);
            line-height: 30px;
            color:rgb(0, 174, 255);
            &::before{
                content: '';
                display: block;
                position: absolute;
                transform: translateX(-60px);
                width: 50px;
                height: 30px;
                border-radius: 15px;
                background-color: rgba(#fff, .3);
                transition: background-color .3s;
            }
            
            &::after{
                content: '';
                display: block;
                position: absolute;
                top: 0;
                transform: translate(-58px,.16rem);
                width: 25px;
                height: 25px;
                border-radius: 15px;
                background-color: rgba(#fff, .5);
                transition: transform .3s;
            }
        }
        &-input{
            display: none;
            
            &:checked+label{
                &::before{
                    background-color: rgb(0, 174, 255);
                }
                &::after{
                    transform: translate(-40px,.16rem);
                }
            }
        }
    }

    &__submit{
        margin-top: 2rem;
        background: rgb(0, 174, 255);
        height: 40px;
        border-radius: 20px;
        border: none;
        outline: none;
        color: #fff;
        text-transform: uppercase;
    }

    & a{
        text-decoration: none;
        color:rgb(0, 174, 255);
        border-bottom: 1px solid;
        padding-bottom: .2rem;
        margin-top: 2rem;
    }

}